*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url(Font/Roboto.ttf);
}
body{
    color: #004449;
    font-family: 'Roboto' , sans-serif;
}
header{
    width: 100%;
    height: 104px;
    background-color: #004449;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.log{
    background-color: #004449;
}
nav p{
    font-size: 16px;
    font-weight: 400;
    color:#D7FFC2;
}
section1{
    background-color: #004449;
    width: 100%;
    height: 1375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.H{     
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
section1 h1{
    width: 600px;
    font-size: 80px;
    color: #FFAC7F;
    font-weight: 400;
}
section1 h1:first-line{ color: white; }
section1 p{
    width: 500px;
    margin: 20px 0;
    font-size: 32px;
    color: white;
}
section1 p3{
    font-size: 32px;
    color: white;
}
section1 button{
    border-radius: 30px;
    border: none;
    width: 338px;
    height: 60px;
    background-color: #0BFF80;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section1 button p{
    width: 240px;
    font-size: 15px;
    color: black;
}
.down{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.down p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 400;
}
.Image{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}

section2{
    background-image: url(Photo/0211936f5f8b69e7f13faba32b852c84523321a4.png);
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
p{ 
    font-size: 16px;
}
h2{ font-size: 24px;     
    font-weight: 400;
}
h1{ font-size: 48px;     
    font-weight: 400;
}
.airoport{
    background-color: #FFFEF0;
    border-radius: 7px;
    width: 357px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}
.TT{position: relative; bottom: 0px;}
.TT p{position: relative;bottom: 100px;}
.air{position: relative; bottom: 220px;}
.asd{position: relative;bottom: 175px;}
.bb{position: relative; bottom: 170px;}
.airoport h2{position: relative; bottom: 150px;}
.JJ h2{bottom: 200px;}
.JJ p{position: relative;bottom: 150px;}
.airoport p{
    text-align: center;
    margin: 0 auto;
}
td{
    padding: 20px;
    text-align: center;
}
.p1{
    line-height: 1.5;
    font-size: 11px;
}
.gone{ color: #007A83; margin-left: 10px;}
.h1_gone{
    display: flex;
}
button{
    color: white;
    background-color: #483CFF;
    border-radius: 800px;
    width: 140px;
    height: 100px;
    border: none;
    line-height: 1.5;
}
.booked{
    background-color: #D7FFC2;
    width: 765px;
    height: 370px;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top:100px;
}
.booked button h4{
    width: 50px;
    position: relative;
    left: 44px;
}
.above{
   text-align: center;
}
table{
    width: 100%;
    text-align: center;
}


section3{
    width: 100%;
    height: 894px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section3 h2{
    font-size: 25px;
    white-space: nowrap;
}
.karusel{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.s3_c{
    height: 297px;
    width: 226px;
}
.s3_k{
    height: 324px;
    width: 246px;
}
.s3_r{
    height: 356px;
    width: 270px;
}
.s3_z{
    height: 324px;
    width: 246px;
}
.s3_p{
    height: 297px;
    width: 226px;
}
span{
    background-color: #D7FFC2;
    margin: 10px;
}
section3 button{
    background-color: #004449;
    border-radius: 40px;
    border: none;
    width: 48px;
    height: 48px;
}
.ccc {
    margin: 10px;
}


section4{
    background-image: url(Photo/volni.jpg);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section4 h1{font-size: 64px;}
.Text{
    display: flex;
    justify-content: space-evenly;
}
section4 img{position: relative;top:20px;}
.Text div{
    width: 326px;
    height: 365px;
    background-color: #FFFEF0;
    margin: 0 10px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
}
.F p{width: 227px;height: 200px;}
.million{
    text-align: center;
    margin-bottom: 100px;
}
section5{
    width: 100%;
    height: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.N{
    width: 500px;
}
section5 button p{
    width:50px;
    position: relative;
    left: 40px;
 }
.Text2 .cat{
    position: absolute;
    width: 100%;
    height: 644px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 750px;
    margin-top: 76px;
}
.Text2{
    width: 944px;
    height: 388px;
    background-color: #BAEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer{
    width: 100%;
    background-color: #004449;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
footer p{
    color: white;
   
}
.about{
    padding: 50px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 3;
}
.Resources{
    padding: 50px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 3;
}
.G{font-size: 20px;}
footer .Support{
     padding: 50px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 3;
}
.Supportt{
    margin-top: 150px;
}
.tmm{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87px;
    padding: 0;
}
.tmm h2{
    font-size: 14px;
}
@media (min-width:320px) and (max-width:750px){
    section1{
    height: 700px;
}
section1 h1{
    width: 300px;
    font-size: 30px;
}
.H{align-items: start;width: 300px;}
section1 p{
    width: 100%;
    font-size: 32px;
    color: white;
}
section1 p3{
    font-size: 32px;
    color: white;
}
.H button p{
    width: 200px;
    font-size: 10px;
    color: black;
    position: relative;
    left: 2%;
}
.H button img{
    position: relative;
    right: 3%;
}
.H p{font-size: 10px;align-items: start;display: flex;}
.H button{width: 180px;height: 45px;}
.down{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.down p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 400;
}
.Image img{width: 50px;height: 40px;}
.Image{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}
section2{height: 2500px;}
section2 table{height: 1000px;}
section2 tr{
    display: flex;
    flex-direction: column;
}
.a1{position: relative; top:50px}
.a2{position: relative;top: 200px;}
.a3{position: relative;top: 400px;}

.booked{width: 100%;position: relative;top:200px}
.booked h1{font-size: 35px}
.booked p{}
.booked button h4{}
.ccc img{width: 100px;height: 200px;}
.ccc{width: 100px;}
.karusel{width: 200%;justify-content: center;}
.ccc h2{font-size: 10px;}
.ccc h2 img{width: 10px;height: 10px;}
section4{height: 800px;}
section4 h1{font-size: 40px;width: 350px;}
section4 img{width: 200px;}
.Text div{width: 100px;height: 150px;}
.F p{font-size: 7px;width: 100px;}
.F h3{font-size: 5px;}
section5{width: 100%;height: 700px;}
.Text2{height: 700px;}
.about{flex-wrap: wrap;width: 500px;justify-content: space-evenly;}
.about ul{width: 200px;}
    }